/* Custom globals */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Alegreya Sans", sans-serif;*/
    font-family: 'DM Sans', sans-serif;
}

body {
    background: #343541;
}

form {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
    background: greenyellow;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

textarea {
    width: 100%;

    color: black;
    font-size: 18px;

    padding: 10px;
    background: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    outline: 0;
    border: 0;
    cursor: pointer;
    background: transparent;
}

form img {
    width: 30px;
    height: 30px;
}
